<div class="alert" [class.visible]="isVisible">
  {{message}}
</div>
<p>

  <input #nameInput type = "text" placeholder="Название"/>
  <button (click)="addGenre(nameInput.value, null)">
    Добавить
  </button> <br>
  <br>

  <input #findInput type = "text" placeholder="Поиск жанра по названию"/>
  <button (click)="findGenre(findInput.value)"> Искать </button>

  <button (click)="updateGenreTable()"> Обновить таблицу жанров</button>
</p>


<table class = "table_genres">
  <caption> Genres </caption>
  <tr>
    <th> Жанр</th>
    <th> Удалить </th>
    <th> Изменить </th>
  </tr>
  <tr *ngFor="let genre of genreListData.genres">
    <td>{{genre.title}}</td>
    <td>
      <button class="delete" (click)="removeGenre(genre)">
        Удалить
      </button>
    </td>
    <td>
      <button class="change" (click)="updateGenre(genre.id, nameInput.value)">Изменить</button>
    </td>
  </tr>
</table>


