<div class="alert" [class.visible]="isVisible">
  {{message}}
</div>
<p>
  Добавление и изменение жанров: <br>
  Название:<input #nameInput type = "text"/>
  <button (click)="addGenre(nameInput.value, null)">
    Add
  </button> <br>
  Ведите название жанра для поиска: <br>
  Название жанра:<input #findInput type = "text"/>
  <button (click)="findGenre(findInput.value)"> Искать </button>
</p>
<table class = "table_genres">
  <caption> Genres </caption>
  <tr>
    <th> Жанр</th>
    <th> Удалить </th>
    <th> Изменить </th>
  </tr>
  <tr *ngFor="let genre of genreListData.genres">
    <td>{{genre.title}}</td>
    <td>
      <button (click)="removeGenre(genre)">
        Удалить
      </button>
    </td>
    <td>
      <button (click)="updateGenre(genre.id, nameInput.value)">Изменить</button>
    </td>
  </tr>
</table>
