<p>track-list works!</p>
<table>
    <tr *ngFor="let track of trackListData.tracks">
      <th>{{track.id}}</th>
      <th>{{track.title}}</th>
      <th>{{track.performer}}</th>
      <th>{{track.album}}</th>
      <th>{{track.duration}}</th>
      <th>{{track.genre.id}}</th>
      <th>{{track.genre.title}}</th>
      <th>
        <button (click)="removeTrack(track)">
          Delete
        </button>
      </th>
    </tr>
</table>
Name:<input #nameInput type = "text"/>
Author:<input #authorInput type = "text"/>
Album:<input #albumInput type = "text"/>
Genre id:<input #genreIdInput type = "text"/>
Name Genre:<input #nameGenre>
Duration:<input #durationInput>

<button (click)="addTrack(nameInput.value, authorInput.value, null, albumInput.value, durationInput.value, genreIdInput.value, nameGenre.value)">
  Add
</button>

