<div class="alert" [class.visible]="isVisible">
  {{message}}
</div>
<p> Название:<input #nameInput type = "text"/> <br><br/>
  Исполнитель:<input #authorInput type = "text"/> <br> <br/>
  Aльбом:<input #albumInput type = "text"/>  <br> <br/>
  Длительность трека: <input #durationInput type = "text"> <br> <br/>
  <select #input name="genre_select" >
    <option *ngFor="let genre of genreListData.genres" value="{{genre.id}}" > {{genre.title}} </option>
  </select> <br> <br/>
  <button (click)="addTrack(nameInput.value, authorInput.value, null, albumInput.value, durationInput.value, input.value, input.textContent)">
    Add
  </button> <br> <br/>
  Введите название трека для поиска: <br>
  <input #searchInput type = "text">
  <button (click)="findTrack(searchInput.value)" > Искать</button>
</p>

<table class = "table_tracks">
  <caption> Аудиотреки </caption>
  <tr>
    <th>Название</th>
    <th>Исполнитель</th>
    <th>Альбом</th>
    <th>Длительность</th>
    <th>Жанр</th>
    <th>Удаление</th>
    <th>Изменить</th>
  </tr>
  <tr *ngFor="let track of trackListData.tracks">
    <td>{{track.title}}</td>
    <td>{{track.performer}}</td>
    <td>{{track.album}}</td>
    <td>{{track.duration}}</td>
    <td>{{track.genre.title}}</td>
    <td>
      <button (click)="removeTrack(track)">
        Удалить
      </button>
    </td>
    <td>
      <button (click)="updateTrack(track.id, nameInput.value, authorInput.value, albumInput.value, durationInput.value, input.value, input.textContent)">Изменить</button>
    </td>
  </tr>
</table>



