<div class="alert" [class.visible]="isVisible">
  {{message}}
</div>


<div class="menu">


    <input #nameInput type = "text" placeholder="Название"/> <br><br/>

    <input #authorInput type = "text" placeholder="Исполнитель"/> <br> <br/>
    <input #albumInput type = "text" placeholder="Альбом"/>  <br> <br/>
    <input #durationInput type = "text" placeholder="Длительность трека"> <br> <br/>

    <select #input name="genre_select" >
      <option *ngFor="let genre of genreListData.genres" value="{{genre.id}}" > {{genre.title}} </option>
    </select> <br> <br/>
    <button (click)="addTrack(nameInput.value, authorInput.value, null, albumInput.value, durationInput.value, input.value, input.textContent)">
      Добавить
    </button> <br> <br/>
    <br>
    <input #searchInput type = "text" placeholder="Поиск трека">
    <button (click)="findTrack(searchInput.value)" > Искать</button>
  <button (click)="updateTableTrack()"> Обновить таблицу </button>
</div>


<table align="center" class = "table_tracks">
  <caption> Аудиотреки </caption>
  <tr>
    <th>Название</th>
    <th>Исполнитель</th>
    <th>Альбом</th>
    <th>Длительность</th>
    <th>Жанр</th>
    <th>Удаление</th>
    <th>Изменить</th>
  </tr>
  <tr *ngFor="let track of trackListData.tracks">
    <td>{{track.title}}</td>
    <td>{{track.performer}}</td>
    <td>{{track.album}}</td>
    <td>{{track.duration}}</td>
    <td>{{track.genre.title}}</td>
    <td>
      <button (click)="removeTrack(track)">
        Удалить
      </button>
    </td>
    <td>
      <button (click)="updateTrack(track.id, nameInput.value, authorInput.value, albumInput.value, durationInput.value, input.value, input.textContent)">Изменить</button>
    </td>
  </tr>
</table>




