@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
.menu{
  font-family: sans-serif;
  width: 280px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}


input{
  width: 100%;
  color: white;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid #4caf50;
}

select{
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  border-radius: 25px;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}
i{
  width: 26px;
  float: left;
  text-align: center;
}

button{
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  border-radius: 25px;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}



.table_tracks {
  position: absolute;
  top: 600px;
  left: 30%;
  border-collapse: collapse;
  border-left: 3px solid #4caf50;
  border-right: 3px solid #4caf50;
  border-bottom: 3px solid #4caf50;
  font-family: sans-serif;
}
.table_tracks caption {
  background: #4caf50;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
  color: white;
  font-family: "Roboto Slab",serif;
  font-style: normal;
  font-size: 26px;
  text-align: center;
  margin: 0;
}

.table_tracks td, .table_tracks th {
  padding: 10px;
}
.table_tracks th {
  text-align: left;
  font-size: 18px;
}
.table_tracks tr:nth-child(2n) {
  background: #EAF2F5;
}
.table_tracks tr:nth-child(2n+1) {
  background: #bbbbbb;
}
.table_tracks td:last-of-type {
  text-align: center;
}

.alert  {
  position: fixed;
  top: 0;
  right: 0.5rem;
  border:1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  padding: 2rem;
  background: #fff;
  color: #f65656;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  transition:  all 0.2s ease-in-out;
  opacity: 0;
}

.visible {
  opacity: 1;
  transform: translateY(1.25rem);
}
