.table_tracks {
  border-collapse: collapse;
  border-left: 3px solid #F79361;
  border-right: 3px solid #F79361;
  border-bottom: 3px solid #F79361;
  font-family: "Lucida Grande", sans-serif;
}
.table_tracks caption {
  background: #F79361;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px  4px 0 rgba(0,0,0,.3);
  color: white;
  font-family: "Roboto Slab",serif;
  font-style: normal;
  font-size: 26px;
  text-align: center;
  margin: 0;
}
.table_tracks td, .table_tracks th {
  padding: 10px;
}
.table_tracks th {
  text-align: left;
  font-size: 18px;
}
.table_tracks tr:nth-child(2n) {
  background: #E5E5E5;
}
.table_tracks td:last-of-type {
  text-align: center;
}

